{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
    <h1>Page index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}antimessages.title{% endtrans %}</th>
                <th>Url</th>
                <th>{% trans %}display_in_menu{% endtrans %}</th>
                <th>{% trans %}display_menu{% endtrans %}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.url }}</td>
                <td>{{ page.displayInMenu ? 'yes'|trans : 'no'|trans }}</td>
                <td>{{ page.displayMenu ? 'yes'|trans : 'no'|trans }}</td>
                <td>
                    <a href="{{ path('page_show', {'url': page.url}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('page_edit', {'id': page.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('page_new') }}">{% trans %}new{% endtrans %}</a>
{% endblock %}
