{% extends 'base.html.twig' %}

{% block title %}New Page{% endblock %}

{% block body %}
    <h1>Create new Page</h1>

    {{ include('page/_form.html.twig') }}

    <a href="{{ path('page_index') }}">{% trans %}back{% endtrans %}</a>
{% endblock %}
