body{
    background-color: #383c4a;
    color: white;
    font-family: arial black,verdana,candara;
    font-size: 18px
}

hr{
    color: white;
}

.green{
    color: #01DD06;
}

a {
    color:white;
}


.white {
    border: none;
    height: 1px;
    background: #000;
    background: repeating-linear-gradient(90deg,white,white 6px,transparent 6px,transparent 12px);
}



.yellow {
    border: none;
    height: 1px;
    background: #000;
    background: repeating-linear-gradient(90deg,yellow,yellow 6px,transparent 6px,transparent 12px);
}

.orange{
color:orange;
}

input, input:active{
    color:#01DD06;
    background-color:#white;
    border: 1px solid #FF0000;

}
