

@media (max-width: 1000px) {
  html {
     font-size: 5vw;
  }

  .captcha_image{
    width: 100%;
    height: auto;
  }
  input[type=text],input[type=password],input[type=file], select, textarea{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    resize: vertical;
  }

  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  /* Style the submit button */
  button[type=submit] {
    width: 100%;
    font-size: 4vw;
  }

  #menu{
    text-align: center;
    font-size: 7vw;
  }
  .navigation{
    font-size: 7vw;
  }
  .mobile-index{
    font-size: 10vw;

  }
}
