.text-center{
  text-align: center;
}
.response-background{
  background-color: #404552;
}

body{
  background-color:  #383c4a;
}

p{color:white;}

a{color: #7c818c;}
* {
  font-family: arial !important;
  line-height: 1.5;
  color:#5294e2;
}

.error-box{
  background-color: #b0413ea3;
  margin-top: 40px;
}

#menu{
  position: fixed;
  top:0px;
  z-index: 1;
  background: #404552;
  width: inherit;
}

.cursor{
  cursor: pointer;
}

.hide{
  cursor: pointer;
}
.to, .response-to{
  cursor: pointer;
text-decoration: underline  ;
}

.float-right{
  float: right;
}
