<form method="post" action="{{ path('admin_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">{% trans %}delete{% endtrans %}</button>
</form>
