{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.edit_user{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.edit_user{% endtrans %}</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_index') }}">{% trans %}back{% endtrans %}</a>

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
