{% extends 'base.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block body %}
    <h1>Admin index</h1>
    {{ render(controller ('App\\Controller\\AntiMessageController::search' )) }}
    {{ render(controller ('App\\Controller\\BanController::new' )) }}

    <a href="{{ path('board_index') }}">{% trans %}title.edit_a_board{% endtrans %}</a>
<hr>
<a href="{{ path('page_index') }}">{% trans %}title.page_list{% endtrans %}</a>


<hr>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}name{% endtrans %}</th>
                <th>Ip</th>
                <th>Whitelist</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.ip }}</td>
                <td><input type="checkbox" id="{{ user.id }}" {% if user.whitelisted %} checked {% endif %}></td>
                <td>
                    <a href="{{ path('admin_show', {'id': user.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('admin_edit', {'id': user.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no_result{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(users) }}
   </div>
<hr>

<script language="JavaScript">
// Select all checkboxes with the name 'settings' using querySelectorAll.
var checkboxes = document.querySelectorAll("input[type=checkbox]");
checkboxes.forEach(function(checkbox) {
  checkbox.addEventListener('change', function() {
    var data = new FormData();
    var req = new XMLHttpRequest();
    data.append("id",checkbox.id);
    req.open("POST", "{{path('admin_whitelist')}}");
    req.send(data);
  })
});
</script>
{% endblock %}
