{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.users{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.users{% endtrans %}</h1>
    <div class="row">
      <table class="table">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ user.id }}</td>
              </tr>
              <tr>
                  <th>{% trans %}name{% endtrans %}</th>
                  <td>{{ user.name }}</td>
              </tr>
              <tr>
                  <th>Ip</th>
                  <td>{{ user.ip }}</td>
              </tr>

          </tbody>
      </table>
    </div>
    <div class="row">

    {% for message in user.antiMessages %}
    <div class="col-8">
      {{ include('antimessage/response.html.twig', {message: message, new:false}) }}
    </div>
    {% endfor %}
  </div>


    <a href="{{ path('admin_index') }}">{% trans %}back{% endtrans %}</a>

    <a href="{{ path('admin_edit', {'id': user.id}) }}">{% trans %}edit{% endtrans %}</a>
    {{ include('antimessage/_delete.html.twig') }}
{% endblock %}
