{% extends 'base.html.twig' %}

{% block title %}{% trans %}login{% endtrans %}{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <form action="{{ path('login') }}" method="POST">
        <label for="username">{% trans %}name{% endtrans %}:</label>
        <input type="text" id="name" name="_username" value=""/>

        <label for="password">{% trans %}password{% endtrans %}:</label>
        <input type="password" id="password" name="_password"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <input type="hidden" name="_target_path" value="/admin"/>

        <button type="submit">{% trans %}login{% endtrans %}</button>
    </form>
{% endblock %}
