<form method="post" action="{{ path('ban_delete', {'id': ban.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ban.id) }}">
    <button class="btn">{% trans %}delete{% endtrans %}</button>
</form>
