{% extends 'base.html.twig' %}

{% block title %}{% trans %}ttle.edit_ban{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}ttle.edit_ban{% endtrans %}</h1>

    {{ include('ban/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ban_index') }}">{% trans %}back{% endtrans %}</a>

    {{ include('ban/_delete_form.html.twig') }}
{% endblock %}
