{% extends 'base.html.twig' %}

{% block title %}Ban index{% endblock %}

{% block body %}
    <h1>Ban index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}start{% endtrans %}</th>
                <th>{% trans %}end{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for ban in bans %}
            <tr>
                <td>{{ ban.id }}</td>
                <td>{{ ban.Start ? ban.Start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ban.End ? ban.End|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('ban_show', {'id': ban.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('ban_edit', {'id': ban.id}) }}">{% trans %}edit{% endtrans %}</a>
                    {{ include('ban/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(bans) }}
   </div>
    {{ render(controller ('App\\Controller\\BanController::new' )) }}
{% endblock %}
