{% extends 'base.html.twig' %}

{% block title %}Ban{% endblock %}

{% block body %}
    <h1>Ban</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ban.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}start{% endtrans %}</th>
                <td>{{ ban.Start ? ban.Start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}end{% endtrans %}</th>
                <td>{{ ban.End ? ban.End|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ban_index') }}">{% trans %}back{% endtrans %}</a>

    <a href="{{ path('ban_edit', {'id': ban.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('ban/_delete_form.html.twig') }}
{% endblock %}
