<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/antiverse.ico') }}">
        <link href="{{ asset('css/simple-grid.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet"/>
        {% trans_default_domain 'antimessages' %}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
      {{ render(controller ('App\\Controller\\BoardController::menu' )) }}
      <div class="container">
        <ul class="error-box">
        {% for flashMessage in app.session.flashbag.get('error') %}

          <li>{{ flashMessage }}</li>

        {% endfor %}
        </ul>
        {% block body %}{% endblock %}
        <div class="row text-center">
          <a href="https://www.instagram.com/antiv3rse/">Instagram</a>
          <a href="https://twitter.com/antiverseIMGB">Twitter</a>
        </div>
      </div>

      <script language="JavaScript">
        var form = document.getElementById("delete-form");
        form.addEventListener("submit", function(event){
            event.preventDefault();
            var checkboxes = document.getElementsByClassName('deletebox');
            var deletelist = [];
            Array.from(checkboxes).forEach(function(element) {
                if (element.checked){
                  deletelist.push(element.value);
                }
           });

           var data = new FormData(form);
           var req = new XMLHttpRequest();
           req.onreadystatechange = function() {
            if (req.readyState === 4) {
              document.getElementsByTagName("html")[0].innerHTML = req.response;
            }
          }
           data.append("id",JSON.stringify(deletelist));
           req.open("POST", form.action);
           req.send(data);
        });

        var buttonHide = document.getElementsByClassName('hide');
        Array.from(buttonHide).forEach(function(btn, index) {
          btn.addEventListener("click", function(event){
            let body = document.getElementById(btn.dataset.id);
            if(body.hidden == true)
            {
              btn.textContent = "{% trans %}Cacher{% endtrans %}";
              body.hidden = false;
            }else{
              btn.textContent = "{% trans %}Afficher{% endtrans %}";
              body.hidden = true;
            }
           });
        });

        document.addEventListener("scroll", handleScroll);

        var scrollToTopBtn = document.getElementById("scrollToTopBtn");
        function handleScroll() {
          var scrollableHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
          var GOLDEN_RATIO = 0.5;
        }
        scrollToTopBtn.addEventListener("click", scrollToTop);

        function scrollToTop() {

          window.scrollTo({
            top: 0,
            behavior: "smooth"
          });
        }

        var hashtags = document.getElementsByClassName('response-to');
        Array.from(hashtags).forEach(function(hash, index) {
          hash.addEventListener("click", function( event ){
            var element = document.getElementById(hash.textContent.substring(1));
            if (element != null){
              if(element.style.backgroundColor == "rgb(80, 86, 102)"){
                element.style.backgroundColor = "";
              }else{
                element.style.backgroundColor = "#505666";
              }
            }
          }, false);
        });

        var responses = document.getElementsByClassName('to');
        Array.from(responses).forEach(function(message, index) {
          message.addEventListener("click", function( event ){
            var to = message.textContent;
            var textContent = document.getElementById("anti_message_content");
            textContent.value = textContent.value + " " + to+" ";
            textContent.focus();

          }, false);
        });

      </script>

    </body>

</html>
