<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Antiverse</title>
  <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>

</head>
<body>

  <hr class="yellow">
<hr class="yellow">

<div style="margin-left:20px;margin-bottom: 20px;font-size: 10px" >
<br>
>load imgb_AV init_▓▓▓▓▓ = { .usage̵ = I▓_I▓▓T(2) }; <br>
>load groú̴̡͔͓͇̖͍̠̙͈̬̹̫͖̭̹̻̍ͅp_UU *groups_al̴loc(int ▓▓▓▓▓▓▓){ <br>
  int var vo▓▓▓▓▓▓▓▓▓▓▓▓; <br>
  int val ▓▓; <br>
  <div style="margin-left:20px;margin-top: 20px;font-size: 14px" >
loading ...<br>
</div></div>

  <hr class="white">

<div style="font-size: 30px" id="outputFigDisplay" class="fig"><pre id="taag_output_text" style="text-align:center" class="fig" contenteditable="true">
  ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
  █░▄▄▀██░▀██░█▄▄░▄▄█▄░▄██░███░██░▄▄▄██░▄▄▀██░▄▄▄░██░▄▄▄
  █░▀▀░██░█░█░███░████░████░█░███░▄▄▄██░▀▀▄██▄▄▄▀▀██░▄▄▄
  █░██░██░██▄░███░███▀░▀███▄▀▄███░▀▀▀██░██░██░▀▀▀░██░▀▀▀
  ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀

      </pre><div style="clear:both"></div></div>
<hr class="white">

<div style="text-align:center">
<span class="orange">(C)Cop̸̧̨̛̛̣̞͉̳̮̹̲̤̗̝͙̮̜̥͉̥̪̩͖̤͖͉͚͖̎̉̆̈̓̄͒͊̽͊̔͐͋͛̀̃̈́̊̆͌̔̃̀͊̈́̇̓̅̕͠͝yright MK▓▓▓▓▓ 195▓ – 19▓▓<br>
(C)Copyright ∫  ▓▓▓▓
</span>
<div style="clear:both"></div></div>
<br>



<hr class="white">

<div style="margin-left:40px;margin-top:40px;font-size: 14px" >
---Bonj▓▓r,<br>
---quel plaisir de vous voi̷̇̾͜r :)̸̹̮̭̔̄̆̈́͠<br>
---cliquez sur une pl▓nche pour rejoi̸̩͇͋̌̍i▓▓▓e ANTIVERSE<br>
<br>
{% for board in boards %}
---<a href="{{ path('board_show', {'nickname': board.nickname}) }}"><span class="orange">/{{board.nickname|upper}}/</span></a> *******************̴̡̢̨̢̨̹͇̝̘̤͖̼͈͖̯̼͓͎͈̮̥͖̜͈̮̖̜̞͖͕̼̻͍̥͉̥̙̖̯̲̩̳͙̅̿̓̈̎̈́͆̏̊̑̾̑̑͒̂͑̅͌̽̔̇͒̿͗͊̈́͌̄̓̒̑̀̄̈́̈̈́̔̈̇̒̒̆̑̈̎͘̚͘̕̕͝͠͝ͅͅ************** {{board.name|upper}}<br>
{% endfor %}
<br>
<div style="margin-left:50px">ANTIVERSE/BOARD/ <input style="border:none" type="text"></div>
</div>
<br><br>
<hr class="yellow">


</body>
</html>
