<form method="post" action="{{ path('board_delete', {'id': board.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ board.id) }}">
    <button class="btn">{% trans %}delete{% endtrans %}</button>
</form>
