<div id="menu">
  [{% for board in boards %}
            <a href="{{ path('board_show', {'nickname': board.nickname}) }}">{{board.nickname}}</a>
            {% if not loop.last %}
            /
            {% endif %}
{% endfor %}
]
[{% for page in pages %}
          <a href="{{ path('page_show', {'url': page.url}) }}">{{page.url}}</a>
          {% if not loop.last %}
          /
          {% endif %}
{% endfor %}
]
{% if is_granted('ROLE_ADMIN') %}

  [ <a href="{{ path('admin_index') }}">{% trans %}admin{% endtrans %}</a> / <a href="{{ path('app_logout') }}">{% trans %}logout{% endtrans %}</a> ]

{% endif %}
<span id="scrollToTopBtn" class="cursor">[<span>&#8593;&#8593;</span>]</span>

  {% if isMobile() == false %}
  <span class="float-right">
    {{ include('antimessage/_delete.html.twig') }}
  </span>
{% endif %}

</div>
