{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.edit_board{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.edit_board{% endtrans %}</h1>

    {{ include('board/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('board_index') }}">{% trans %}back{% endtrans %}</a>

    {{ include('board/_delete_form.html.twig') }}
{% endblock %}
