{% extends 'base.html.twig' %}

{% block title %}title.index_board{% endblock %}

{% block body %}
    <h1>{% trans %}title.index_board{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}name{% endtrans %}</th>
                <th>{% trans %}nickname{% endtrans %}</th>
                <th>{% trans %}header{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for board in boards %}
            <tr>
                <td>{{ board.id }}</td>
                <td>{{ board.name }}</td>
                <td>{{ board.nickname }}</td>
                <td>{{ board.header }}</td>
                <td>
                    <a href="{{ path('board_show', {'nickname': board.nickname}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('board_edit', {'id': board.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no_result{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('board_new') }}">{% trans %}new{% endtrans %}</a>
{% endblock %}
