{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.new_board{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.new_board{% endtrans %}</h1>

    {{ include('board/_form.html.twig') }}

    <a href="{{ path('board_index') }}">{% trans %}back{% endtrans %}</a>
{% endblock %}
