{% extends 'base.html.twig' %}

{% block title %}  /{{ board.nickname }}/{% endblock %}

{% block body %}

<div class="row">
  <div class="col-12 text-center colored">
    {{ board.header | raw }}
  </div>
</div>


<hr>
<div class="row">
  <div class="col-12 text-center colored">
    {% if not new %}
      {{ render(controller ('App\\Controller\\AntiMessageController::new',{'board': board.id, 'topicId': antiMessages[0].id } )) }}
    {% else %}
      {{ render(controller ('App\\Controller\\AntiMessageController::new',{'board': board.id } )) }}
    {% endif %}
  </div>
</div>
<hr>
  {% if isMobile() %}
    {{ include('mobile/antimessage/topic.html.twig', {antiMessages: antiMessages}) }}
  {% else %}
    {{ include('antimessage/topic.html.twig', {antiMessages: antiMessages}) }}
  {% endif %}

  {# Change pagination in case of topic #}
  {% if new == true %}
   <div class="navigation text-center">
       {{ knp_pagination_render(antiMessages) }}
  </div>
  {% else %}
  <div class="navigation text-center">
      {{ knp_pagination_render(responses) }}
 </div>
  {% endif %}

  {{ include('antimessage/_delete.html.twig') }}

</div>
{% endblock %}
