
  <form method="POST" action="{{ path('antiMessage_delete') }}" id="delete-form">
    <input type="password" name="password" placeholder="Mot de passe ">
    <input type="submit" id="delete-btn" id="delete" value="{% trans %}antimessages.delete_messages{% endtrans %}">
  </form>
</div>
