<div class="row response-background" id="{{ message.id }}">
  <div class="col-12 colored">
    <input type="checkbox" class="deletebox" value="{{message.id}}"> <span class="to">#{{ message.id }}</span> |
    {% if message.image is not null  %}{% trans %}antimessages.file{% endtrans %} :
    <a href="{{ asset('uploads/pictures/'~ message.image) }}" target="_blank">{{ message.image }}</a> |{% endif %}
    {% if is_granted('ROLE_ADMIN') %}{{ message.user.name }}|{% endif %}
    {{ message.datetime|date("d/m/Y H:i:s") }}
  </div>

  {% if message.image is null  %}
  <div class="col-12">
    <p>{{message.content|displayLink|displayStickers|displayResponses|raw|nl2br}}</p>
  </div>

  {% else %}

  <div class="col-4">
    <a href="{{ asset('uploads/pictures/'~ message.image) }}" target="_blank"><img src="{{ asset('uploads/pictures/'~ message.image) }}" width="100%"></a>
  </div>
  <div class="col-8">
    <p>{{message.content|displayLink|displayStickers|displayResponses|raw|nl2br}}</p>
  </div>
  {% endif %}


</div>
