{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.message_result{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.result{% endtrans %} : </h1>
    {{ render(controller ('App\\Controller\\AntiMessageController::search' )) }}
    {{ render(controller ('App\\Controller\\BanController::new' )) }}


    <div class="row">

    {% for message in messages %}
    <div class="col-8">
      {{ include('antimessage/response.html.twig', {message: message, new:false}) }}
    </div>
    {% endfor %}
  </div>
  <hr>
  {{ include('antimessage/_delete.html.twig') }}




{% endblock %}
