
{% for topic in antiMessages %}
<div class="row">
  <div class="col-12 header-{{topic.id}}" id="{{ topic.id }}">
    <input type="checkbox" value="{{topic.id}}" class="deletebox">
    <!-- <span class="response-to">#{{ topic.id }}</span> | -->
    {% if topic.image is not null %}  {% trans %}antimessages.file{% endtrans %} :
      <a href="{{ asset('uploads/pictures/'~ topic.image) }}" target="_blank"> {{ topic.image }}</a>
        |
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
      {{ topic.user.name }} |
    {% endif %}
        {{ topic.datetime|date("d/m/Y H:i:s") }}
    {% if new %}
      | <a href="{{ path('topic_show', {'board':board.nickname, 'id': topic.id}) }}">{% trans %}response{% endtrans %}</a>
    {% endif %}
    | <a class="hide" data-id="{{topic.id}}">{% trans %}hide{% endtrans %}</a>
  </div>
  <div id="{{topic.id}}" class="body-{{topic.id}}">
    {% if topic.image is null %}
      <div class="col-12">
        <p>{{topic.content|displayLink|displayStickers|displayResponses|raw|nl2br}}</p>
      </div>
      {% else %}
      <div class="col-4">
        <a href="{{ asset('uploads/pictures/'~ topic.image) }}" target="_blank"> <img src="{{ asset('uploads/pictures/'~ topic.image) }}" width="100%"></a>
      </div>
      <div class="col-8">
        <p>{{topic.content|displayLink|displayStickers|displayResponses|raw|nl2br}}</p>
      </div>
      {% endif %}

    {# Change content for pagination #}
    {% if new == true %}
      {% set responses = topic.responses|reverse %}
    {% endif %}

    {% for message in responses %}
      <div class="col-8">
        {% if isMobile() %}
          {{ include('mobile/antimessage/response.html.twig', {message: message}) }}

        {% else %}
          {{ include('antimessage/response.html.twig', {message: message}) }}

        {% endif %}

      </div>
    {% endfor %}
  </div>
</div>
<hr>

{% endfor %}
